/* стили для страницы "Собрать ланч" */

/* сетка для блюд */
.dishes-grid {
    display: grid; /* используем Grid для создания сетки */
    grid-template-columns: repeat(3, 1fr); /* создаем 3 колонки одинаковой ширины */
    gap: 20px; /* задаем отступ между элементами сетки */
}

/* карточка блюда */
.dish-card {
    background-color: white;
    border-radius: 35px;
    padding: 30px 40px;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13)); /* создание тени */
    cursor: pointer;
    border: 2px solid transparent;
    display: flex; /* используем flex для выравнивания содержимого внутри карточки */
    flex-direction: column; /* элементы внутри карточки будут располагаться друг под другом */
}

.dish-card:hover {
    border-color: tomato;
}

.dish-card img {
    width: 100%;
    height: auto;
    border-radius: 35px;
    margin-bottom: 15px;
}

/* блок с информацией о блюде */
.dish-info {
    flex-grow: 1; /* этот блок займет все доступное свободное пространство */
}

.dish-price {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
}

.dish-name {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}

.dish-weight {
    color: #888;
    margin-bottom: 15px;
}

.add-button {
    background-color: #f1eee9;
    border: none;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-top: auto;
}

/* стили для кнопки при наведении на карточку */
.dish-card:hover .add-button {
    background-color: tomato;
    color: white;
    transition: background-color 0.3s;
}

/* Адаптивность */

/* ширина экрана до 800px */
@media (max-width: 800px) {
    .dishes-grid {
        /* Перестраиваем сетку в 2 колонки */
        grid-template-columns: repeat(2, 1fr);
    }
}

/* ширина экрана до 600px */
@media (max-width: 600px) {
    .dishes-grid {
        /* Перестраиваем сетку в 1 колонку */
        grid-template-columns: 1fr;
    }
    
    .dish-card {
        padding: 20px;
    }
}